{{ define "_header" }}
{{ $langGetParameter := "" }}
{{ if eq .Current.Language "ru" }}
    {{ $langGetParameter = "?lang=ru" }}
{{ end }}
<div class="flag">
    <div class="header-content">
        <div class="logo"><div class="user-picture-image"></div></div>
        <div class="blog-title">
            <a class="name" href="https://chuhlomin.com{{ $langGetParameter }}">{{ i18n "name" .Current.Language }}</a>&nbsp;<span class="sep">/</span>
            {{ if eq .Current.ID "index.html" }}
            <span>{{ i18n "blog" .Current.Language }}</span>
            {{ else }}
            <a href="{{ config "BasePath" }}index.html{{ $langGetParameter }}">{{ i18n "blog" .Current.Language }}</a>
            {{ end }}

            <div class="extra">
                {{ if eq .Current.ID "search.html" }}<span class="search-icon disabled"></span>
                {{ else }}<a href="{{ config "BasePath" }}search.html{{ $langGetParameter }}" class="search-icon"></a>{{ end }}

                <a href="{{ config "BasePath" }}feed.atom{{ $langGetParameter }}" class="feed-icon"></a>

                {{ $langs := allLanguageVariations . }}
                {{ $length := len $langs }}
                {{ if gt $length 1 }}
                <span class="languages">
                    {{ range $langs }}
                        {{ if ne .Language $.Current.Language }}
                            <a class="lang lang-{{ .Language }}" href="{{ config "BasePath" }}{{ langToGetParameter .Path }}">{{ .Language }}</a>
                        {{ end }}
                    {{ end }}
                </span>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}
