{{ define "_next" }}
<div class="next">
    {{ $next := nextPage . }}
    {{ $prev := prevPage . }}
    {{ if $prev }}
    <div class="prevLinkContainer">
        <a id="prevLink" class="prevLink" href="{{ back $prev.Path }}{{ langToGetParameter $prev.Path }}">
            {{ template "_image" $prev }}
            <span class="link hasArrow">{{ $prev.Metadata.Title }}</span>
        </a>
        <div class="shortcut"><kbd>⌥</kbd>+<kbd>←</kbd></div>
    </div>
    {{ end }}
    {{ if $next }}
    <div class="nextLinkContainer">
        <a id="nextLink" class="nextLink" href="{{ back $next.Path }}{{ langToGetParameter $next.Path }}">
            {{ template "_image" $next }}
            <span class="link hasArrow">{{ $next.Metadata.Title }}</span>
        </a>
        <div class="shortcut"><kbd>⌥</kbd>+<kbd>→</kbd></div>
    </div>
    {{ end }}
</div>
{{ end }}
