{{ define "_postCard" }}
<div class="postCard" data-tags="{{ year .Date }},{{ join .Tags "," }}">
    <div class="image">
        {{ if .Images }}
        {{ $img := index .Images 0 }}
        <a href="{{ langToGetParameter .Path }}">
            <img src="{{ $img.ThumbPath }}" alt="{{ $img.Alt }}">
        </a>
        {{ end }}
    </div>
    <div class="titleAndTags">
        <a href="{{ langToGetParameter .Path }}">{{ .Title }}</a>
        {{ if .Tags }}
        <span class="tags">
            {{ range .Tags }}
            <a class="tag" href="#{{ . }}">#{{ . }}</a>
            {{ end }}
        </span>
        {{ end }}
    </div>
    {{ if .Date }}
    <div class="date">{{ .Date }}</div>
    {{ end }}
</div>
{{ end }}
