<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>{{ i18n "search" .Current.Language }} \ {{ i18n "blog" .Current.Language }} \ {{ i18n "name" .Current.Language }}</title>
<link rel="stylesheet" href="styles.css?ts={{ .Timestamp }}">
{{ template "_head" . }}
</head>
<body>
<div class="common">
    {{ template "_header" . }}
    <div class="wrapper">
        <div class="content">
            <h1 class="hidden">Поиск</h1>
            <input type="search" name="q" placeholder="{{ i18n "search" .Current.Language }}" class="search" onkeyup="search(this.value)" autofocus>
            <div class="posts" id="search_results"></div>
        </div>
    </div>
</div>
{{ template "_search" "ru" }}
</body>
</html>
