<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>{{ i18n "blog" .File.Language }} \ {{ i18n "name" .File.Language }}</title>
<link rel="stylesheet" href="{{ link "/styles.css?crc=" }}{{ crc "styles.css" }}">
<link rel="alternate" type="application/atom+xml" title="{{ i18n "name" .File.Language }}" href="feed.atom?lang=ru"/>
<link rel="alternate" type="application/atom+xml" title="{{ i18n "name" "en" }}" href="feed.atom"/>
<link rel="alternate" hreflang="en" href="{{ config "RootURL" }}{{ link "/blog/index.html" "en" }}">
<link rel="edit" href="https://github.com/chuhlomin/homepage/edit/main/content/{{ .File.Source }}">
{{ template "head" . }}
</head>
<body>
<div class="common">
    {{ template "header" . }}
    <div class="wrapper column">
        <div class="message">
            Этот блог можно <a href="https://t.me/chuhlomin_channel">читать в Телеграме</a>
        </div>
        <div class="content">
            <h1>Все посты{{ template "selectedTag" . }}</h1>
            <div class="posts">
                {{ $year := ""}}
                {{ range .AllSorted }}
                {{ if eq .Language "ru" }}
                    {{ if ne (date .Date "2006") $year }}
                    {{ if ne $year "" }}
                    <div class="year spacer" data-year="{{ $year }}"></div>
                    {{ end }}
                    {{ $year = date .Date "2006" }}
                    <h2 class="year" data-year="{{ $year }}">{{ $year }}</h2>
                    {{ end }}
                    {{ template "postCard" . }}
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ template "hotkeys" . }}
</body>
</html>
