<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ i18n "search" .File.Language }} \ {{ i18n "blog" .File.Language }} \ {{ i18n "name" .File.Language }}</title>
<link rel="stylesheet" href="/styles.css?ts={{ ts }}">
<link rel="alternate" hreflang="ru" href="{{ config "RootURL" }}{{ link "/blog/search.html" "ru" }}">
<link rel="edit" href="https://github.com/chuhlomin/homepage/edit/main/content/{{ .File.Source }}">
{{ template "head" . }}
<script src="../meilisearch.umd.js"></script>
</head>
<body>
<div class="common">
    {{ template "header" . }}
    <div class="wrapper">
        <div class="content">
            <h1 class="hidden">Search</h1>
            <input type="search" name="q" placeholder="{{ i18n "search" .File.Language }}" class="search" onkeyup="search(this.value)" autofocus>
            <div class="posts" id="search_results"></div>
        </div>
    </div>
</div>
{{ template "search" "en" }}
{{ template "hotkeys" . }}
</body>
</html>
