<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="./styles.css?crc={{ crc "styles.css" }}">
<link rel="icon" href="./favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="manifest" href="/manifest.webmanifest">
<title>Constantine Chukhlomin</title>
<!-- OpenGraph Card -->
<meta property="og:image" content="https://chuhlomin.com/img/og.png">
<meta property="og:image:width" content="1920">
<meta property="og:image:height" content="1080">
<meta property="og:type" content="profile">
<meta property="og:title" content="Constantine Chukhlomin">
<meta property="og:url" content="https://chuhlomin.com">
<meta property="og:description" content="I'm a software engineer. Work at The Atlantic. I write about technologies and apps on my microblog.">
<meta property="profile:first_name" content="Constantine">
<meta property="profile:last_name" content="Chukhlomin">
<meta property="profile:username" content="chuhlomin">
<link rel="alternate" hreflang="ru" href="{{ config "RootURL" }}{{ link "index.html" "ru" }}">
<link rel="edit" href="https://github.com/chuhlomin/homepage/edit/main/content/{{ .File.Source }}">
</head>
<body>
<div class="common">
    <div class="flag">
        <div class="header-content">
            <div class="logo"><div class="user-picture-image"></div></div>
            <div class="blog-title">
                <h1>Constantine Chukhlomin</h1>
                <a href="{{ link "/blog/index.html" .File.Language }}">{{ i18n "blog" .File.Language }}</a>
                <a href="{{ link "/photos.html" .File.Language }}">{{ i18n "photos" .File.Language }}</a>
                <div class="extra">
                    <a class="lang lang-ru" href="/{{ link "" "ru" }}">RU</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="message">
            I'm a software engineer. Work at <a href="https://www.theatlantic.com">The&nbsp;Atlantic</a>.<br>
            I write about technologies and apps on my <a href="{{ link "/blog/index.html" }}">microblog</a>.
        </div>
        <div class="content">
            <p>Contacts: <a href="https://github.com/chuhlomin" itemprop="github">chuhlomin</a>,
            <a href="mailto:mail@chuhlomin.com" itemprop="email">mail@chuhlomin.com</a></p>

            <p>City: Union City, NJ (UTC−5:00) <span style="opacity: 0.5">← New-York ← Saint-Petersburg ← Kirov</span></p>

            <p>Projects:</p>

            <div class="projects">
                <a href="https://alsosee.info" class="project" id="alsosee">
                    <div class="description">
                        <div class="icons">
                            <span class="icon-go" title="Go"></span>
                            <span class="icon-js" title="Javascript"></span>
                        </div>
                        <h3>Also, see</h3>
                        <p>A system for describing and connecting things: movies, games, people, etc.</p>
                    </div>
                    <img src="https://media.alsosee.info/opengraph.png" alt="Also, see interface">
                </a>

                <a href="https://transiter.app" class="project" id="transiter">
                    <div class="description">
                        <div class="icons">
                            <span class="icon-go" title="Go"></span>
                            <span class="icon-swift" title="Swift"></span>
                        </div>
                        <h3>Transiter</h3>
                        <p>New York-only app that shows public transit ETA.</p>
                    </div>
                    <img src="https://transiter.app/img/og.png" alt="Transiter App Promo">
                </a>
                <a href="https://calendar.chuhlomin.com" class="project" id="calendar">
                    <div class="description">
                        <div class="icons">
                            <span class="icon-js" title="Javascript"></span>
                        </div>
                        <h3>Calendar</h3>
                        <p>Calendar PDF-generator with preview.</p>
                    </div>
                    <img src="https://calendar.chuhlomin.com/og.png" alt="Calendar PDF Generator">
                </a>
                <a href="https://grid.chuhlomin.com" class="project" id="grid">
                    <div class="description">
                        <div class="icons">
                            <span class="icon-go" title="Go"></span>
                            <span class="icon-js" title="Javascript"></span>
                        </div>
                        <h3>Grid</h3>
                        <p>Pattern PDF-generator with preview.</p>
                    </div>
                    <img src="https://grid.chuhlomin.com/og.png" alt="Grid PDF Generator">
                </a>
                <a href="https://ts.chuhlomin.com" class="project" id="timestamp">
                    <div class="description">
                        <div class="icons">
                            <span class="icon-vuejs" title="VueJS"></span>
                        </div>
                        <h3>Timestamp</h3>
                        <p>Convert timestamp across different formats.</p>
                    </div>
                    <img src="https://ts.chuhlomin.com/og.png" alt="Timestamp Promo">
                </a>
                <a href="https://ip.chuhlomin.com" class="project" id="ip">
                    <div class="description">
                        <div class="icons">
                            <span class="icon-go" title="Go"></span>
                        </div>
                        <h3>IP</h3>
                        <p>HTTP-service, shows info about IP, WhoIs.</p>
                    </div>
                    <img src="https://ip.chuhlomin.com/og.png" alt="IP Promo">
                </a>
            </div>
        </div>
    </div>
</div>
{{ template "hotkeys" . }}
</body>
</html>
