<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="./styles.css?crc={{ crc "styles.css" }}">
<link rel="icon" href="./favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="manifest" href="/manifest.webmanifest">
<title>Константин Чухломин</title>
<!-- OpenGraph Card -->
<meta property="og:image" content="https://chuhlomin.com/img/og.png">
<meta property="og:image:width" content="1920">
<meta property="og:image:height" content="1080">
<meta property="og:type" content="profile">
<meta property="og:title" content="Константин Чухломин">
<meta property="og:url" content="https://chuhlomin.com/index.html?lang=ru">
<meta property="og:description" content="Я инженер-программист. Работаю в The Atlantic. Веду микроблог про технологии и приложения.">
<meta property="profile:first_name" content="Константин">
<meta property="profile:last_name" content="Чухломин">
<meta property="profile:username" content="chuhlomin">
<link rel="alternate" hreflang="en" href="{{ config "RootURL" }}{{ link "index.html" "en" }}">
<link rel="edit" href="https://github.com/chuhlomin/homepage/edit/main/content/{{ .File.Source }}">
</head>
<body>
<div class="common">
    <div class="flag">
        <div class="header-content">
            <div class="logo"><div class="user-picture-image"></div></div>
            <div class="blog-title">
                <h1>Константин Чухломин</h1>
                <a href="{{ link "/blog/index.html" .File.Language }}">{{ i18n "blog" .File.Language }}</a>
                <a href="{{ link "/photos.html" .File.Language }}">{{ i18n "photos" .File.Language }}</a>
                <div class="extra">
                    <a class="lang lang-en" href="/{{ link "" "en" }}">EN</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="message">
            Я инженер-программист. Работаю в <a href="https://www.theatlantic.com">The&nbsp;Atlantic</a>.<br>
            Веду <a href="{{ link "/blog/index_ru.html" }}">микроблог</a> про технологии и приложения.
        </div>
        <div class="content">
            <p>Контакты: <a href="https://github.com/chuhlomin" itemprop="github">chuhlomin</a>,
            <a href="mailto:mail@chuhlomin.com" itemprop="email">mail@chuhlomin.com</a></p>

            <p>Город: Юнион Сити, Нью Джерси (UTC−5:00) <span style="opacity: 0.5">← Нью-Йорк ← Санкт-Петербург ← Киров</span></p>

            <p>Проекты:</p>

            <div class="projects">
                <a href="https://alsosee.info" class="project" id="alsosee">
                    <img src="https://media.alsosee.info/opengraph.png" alt="Also, see interface">
                    <div class="description">
                        <div class="icons">
                            <span class="icon-go" title="Go"></span>
                            <span class="icon-js" title="Javascript"></span>
                        </div>
                        <h3>Also, see</h3>
                        <p>Система для описания разных вещей и их связей: фильмов, игр, людей и т.д.</p>
                    </div>
                </a>

                <a href="https://transiter.app" class="project" id="transiter">
                    <img src="https://transiter.app/img/og.png" alt="Transiter App Promo">
                    <div class="description">
                        <div class="icons">
                            <span class="icon-go" title="Go"></span>
                            <span class="icon-swift" title="Swift"></span>
                        </div>
                        <h3>Transiter</h3>
                        <p>Приложение для общественного транспорта Нью-Йорка.</p>
                    </div>
                </a>
                <a href="https://calendar.chuhlomin.com" class="project" id="calendar">
                    <img src="https://calendar.chuhlomin.com/og.png" alt="Calendar PDF Generator">
                    <div class="description">
                        <div class="icons">
                            <span class="icon-go" title="Go"></span>
                            <span class="icon-js" title="Javascript"></span>
                        </div>
                        <h3>Calendar</h3>
                        <p>Генератор PDF-файлов календарей.</p>
                    </div>
                </a>
                <a href="https://grid.chuhlomin.com" class="project" id="grid">
                    <img src="https://grid.chuhlomin.com/og.png" alt="Grid PDF Generator">
                    <div class="description">
                        <div class="icons">
                            <span class="icon-go" title="Go"></span>
                            <span class="icon-js" title="Javascript"></span>
                        </div>
                        <h3>Grid</h3>
                        <p>Генератор PDF-файлов с паттернами.</p>
                    </div>
                </a>
                <a href="https://ts.chuhlomin.com" class="project" id="timestamp">
                    <img src="https://ts.chuhlomin.com/og.png" alt="Timestamp Promo">
                    <div class="description">
                        <div class="icons">
                            <span class="icon-vuejs" title="VueJS"></span>
                        </div>
                        <h3>Timestamp</h3>
                        <p>Помогает быстро перевести время в разные форматы.</p>
                    </div>
                </a>
                <a href="https://ip.chuhlomin.com" class="project" id="ip">
                    <img src="https://ip.chuhlomin.com/og.png" alt="IP Promo">
                    <div class="description">
                        <div class="icons">
                            <span class="icon-go" title="Go"></span>
                        </div>
                        <h3>IP</h3>
                        <p>HTTP-сервис, показывает информацию о вашем IP, WhoIs.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{{ template "hotkeys" . }}
</body>
</html>
