@charset "UTF-8";

:root {
  color-scheme: light dark; /* opt into the user's color scheme preferences */

  --underline-opacity: 0.25;

  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans",
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-family-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

  --color-black-10pct: rgba(0, 0, 0, 0.1);
  --color-white-10pct: rgba(255, 255, 255, 0.1);

  --color-text: #222222;
  --color-text-dark: rgb(201, 209, 217);
  --color-background: #f6f6f4;
  --color-background-dark: #181a1b;
  --color-background-higher: #fff;
  --color-background-higher-dark: #2F3132;
  --color-header: #000000;
  --color-header-dark: #ddd;
  --color-link: #0969da;
  --color-link-dark: #6bf;
  --color-link-underscore: rgba(9, 105, 218, var(--underline-opacity));
  --color-link-underscore-dark: rgba(102, 187, 255, var(--underline-opacity));
  --color-link-visited: #551a8b;
  --color-link-visited-underscore: rgba(85, 26, 139, var(--underline-opacity));
  --color-link-visited-dark: #e0b0ff;
  --color-link-visited-underscore-dark: rgba(224, 176, 255, var(--underline-opacity));
  --color-link-hover: #df6400;
  --color-link-hover-dark: #f8ff83;
  --color-link-hover-underscore: rgba(223, 100, 0, var(--underline-opacity));
  --color-link-hover-underscore-dark: rgba(248, 255, 131 var(--underline-opacity));

  --lang-background: #555577;;

  --color-neutral-muted: rgba(175, 184, 193, 0.2);
  --color-neutral-muted-dark: rgba(110, 118, 129, 0.4);

  --border-radius: 10px;

  --padding: 10px;
  --padding-small: 20px;
  --padding-micro: 20px;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 26px;
  background: var(--color-background);
  color: var(--color-text);
}

h1 {
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 10px;
  color: var(--color-header);
}

.blog-title {
  font-size: 18px;
  font-weight: bold;
  flex-grow: 10;
}

.blog-title h1 {
  font-size: 18px;
  line-height: 26px;
  display: inline-block;
  margin: 0;
}

.extra {
  display: flex;
  float: right;
  gap: 0 7pt;
  position: absolute;
  right: 0;
}

p {
  margin: 10px 0 0 0;
}

a {
  transition-property: color, border;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 0.05em;
  color: var(--color-link);
}
a:visited {
  color: var(--color-link-visited);
}
a:hover {
  color: var(--color-link-hover);
}

.flag {
  position: relative;
  width: 100%;
  padding: 20px;
  background: #e7edf4;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content h1,
.header-content #name {
  margin: 0;
  font-weight: bold;
  font-size: inherit;
  line-height: inherit;
}

.lang {
  display: block;
  height: 24px;
  line-height: 24px;
  padding: 0 0.4rem;
  background: var(--lang-background);
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 75%;
  text-decoration: none;
  color: white;
  transition: none;
}

.lang:visited, .lang:hover {
  color: white;
}

.blog-title {
  display: flex;
  position: relative; /* for positioning .lanugages */
  padding-right: 80px;
  gap: 4pt 14pt;
  flex-wrap: wrap;
}

.header-content h1 {
  display: inline;
}

.user-picture-image {
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.66rem;
  background-image: url('./apple-touch-icon.png');
  background-size: cover;
}

a .user-picture-image {
  box-shadow: inset 0 0 0 1px var(--color-link-underscore);
  transition: .2s;
}

a:hover .user-picture-image {
  box-shadow: inset 0 0 0 1px var(--color-link-hover-underscore);
}

.photos {
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 162px);
  justify-content: space-around;
}

.photos .container {
  align-self: center;
}

.photos .photo {
  display: block;
  max-height: 162px;
  margin: 0 auto;
  padding: 0;
  outline: 4px solid var(--color-background-higher);
  border: none;
  border-radius: 6px;
  background: var(--color-background-higher);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative; /* for :before element with blurhash image */
  transition-property: outline; /* override link transition */
  transition-duration: 0.05s;
}

.photos .photo.lazy {
  background: var(--color-background-higher) !important;
}

.photos .photo::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background-blurhash); /* set by JS per element */
  opacity: 0;
  transition: opacity 0.33s ease-out;
}

.photos .photo.lazy::before {
  opacity: 1;
}

.photos a:focus {
  outline: 4px solid var(--color-link);
}

#viewer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 100%) 1fr;
  grid-template-rows: auto 1fr;
  gap: 4px; /* to account for :focus outline */
  background: var(--color-background-higher);
}

#viewer .photo {
  grid-column: 2;
  grid-row: 1 / span 2;
  align-self: center;
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
}

#viewer .photo figure {
  max-height: 100%;
  margin: 0 auto;
}

#viewer #image {
  display: block;
  max-width: 100%;
  max-height: calc(100vh - 50px);
  max-height: calc(100svh - 50px); /* Safari fix for bottom safe area */
  object-fit: contain; /* avoid image stretching */
  border-radius: 6px;
  margin: 0 auto; /* center image when text is longer than image width */
}

#viewer #image.blurhash {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#viewer #image.narrow {
  height: auto !important;
}

#viewer #image.wide {
  width: auto !important;
}

#viewer .photo figcaption {
  text-align: left;
  font-size: 10pt;
  height: 25px;
  line-height: 25px;
}

#viewer .prev {
  grid-column: 1;
  grid-row: 2;
}

#viewer .next {
  grid-column: 3;
  grid-row: 2;
}

#viewer .close {
  grid-column: 3;
  grid-row: 1;
}

#viewer .prev,
#viewer .next {
  width: calc(64px + 0.3rem);
}

#viewer .prev,
#viewer .next,
#viewer .close {
  align-self: center;
  text-align: center;
}

#viewer .prev a,
#viewer .next a,
#viewer .close a {
  width: 100%;
  height: 64px;
  line-height: 64px;
  border: none;
  background: var(--color-background);
  font-size: 20pt;
  text-decoration: none;
  user-select: none;
}

#viewer .close a {
  display: block;
  width: 64px;
  margin-top: 0.3rem;
  margin-right: 0.3rem;
  color: var(--color-text);
  border-radius: 100%;
}

#viewer .prev a:hover,
#viewer .next a:hover,
#viewer .close a:hover {
  background: var(--color-neutral-muted);
}

#viewer .prev a,
#viewer .next a {
  margin-top: -50%;
}

#viewer .prev a {
  border-top-right-radius: 64px;
  border-bottom-right-radius: 64px;
}

#viewer .next a {
  border-top-left-radius: 64px;
  border-bottom-left-radius: 64px;
}

#viewer .prev a:focus,
#viewer .next a:focus,
#viewer .close:focus {
  outline: 2px solid var(--color-link);
}

#viewer #text {
  display: none;
  width: 600px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
}

.edit #viewer #text {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-link-underscore: rgba(102, 187, 255, var(--underline-opacity));
    --lang-background: #555577;
  }

  body {
    background: var(--color-background-dark);
    color: var(--color-text-dark);
  }

  h1 {
    color: var(--color-header-dark);
  }

  a {
    color: var(--color-link-dark);
    border-color: var(--color-link-underscore-dark);
  }
  a:visited {
    color: var(--color-link-visited-dark);
    border-color: var(--color-link-visited-underscore-dark);
  }
  a:hover {
    color: var(--color-link-hover-dark);
    border-color: var(--color-link-hover-underscore-dark);
  }

  .flag {
    background: #373f46;
  }

  .user-picture-image {
    background-image: url('./img/memoji_v3_dark.png');
  }

  .photos .photo {
    outline: 4px solid var(--color-background-higher-dark);
  }

  .photos .photo.lazy {
    background: var(--color-background-higher-dark) !important;
  }

  #viewer {
    background: #000000;
  }

  #viewer .prev a,
  #viewer .next a,
  #viewer .close a {
    background: var(--color-background-dark);
  }

  #viewer .prev a:hover,
  #viewer .next a:hover,
  #viewer .close a:hover {
    background: var(--color-neutral-muted-dark);
  }

  #viewer .close a {
    color: var(--color-text-dark);
  }
}

@media screen and (max-width: 815px) { /* tablet */
  .flag {
    padding: 10px;
  }

  .photos {
    padding: 10px;
  }
}

/* mobile view */
@media (max-width: 600px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }

  .blog-title h1 {
    font-size: 16px;
    line-height: 24px;
  }

  #viewer {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 0.3rem;
  }

  #viewer .photo {
    grid-column: 1 / span 3;
    grid-row: 1;
  }

  #viewer #image {
    /* rounded corners look bad on mobile with "full bleed" image */
    border-radius: 0;
  }

  #viewer .prev {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
  }

  #viewer .next {
    grid-column: 3;
    grid-row: 2;
    width: 100%;
  }

  #viewer .close {
    grid-column: 2;
    grid-row: 2;
  }

  #viewer .prev a,
  #viewer .next a {
    margin-top: 0;
  }

  #viewer .close a {
    margin: 0;
    width: 64px;
  }

  #viewer .photo figcaption {
    padding: 0 0.25rem;
  }

  #viewer #image {
    max-height: calc(100vh - 118px);
  }

  #viewer #image.narrow {
    height: auto !important;
  }
  #viewer #image.wide {
    width: inherit !important;
  }
}
