@charset "UTF-8";

:root {
  color-scheme: light dark; /* opt into the user's color scheme preferences */

  --underline-opacity: 0.25;

  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans",
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-family-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

  --color-black-10pct: rgba(0, 0, 0, 0.1);
  --color-white-10pct: rgba(255, 255, 255, 0.1);

  --color-text: #222222;
  --color-text-dark: rgb(201, 209, 217);
  --color-background: #f6f6f4;
  --color-background-dark: #181a1b;
  --color-background-higher: #fff;
  --color-background-higher-dark: #2F3132;
  --color-header: #000000;
  --color-header-dark: #ddd;
  --color-link: #0969da;
  --color-link-dark: #6bf;
  --color-link-underscore: rgba(9, 105, 218, var(--underline-opacity));
  --color-link-underscore-dark: rgba(102, 187, 255, var(--underline-opacity));
  --color-link-visited: #551a8b;
  --color-link-visited-underscore: rgba(85, 26, 139, var(--underline-opacity));
  --color-link-visited-dark: #e0b0ff;
  --color-link-visited-underscore-dark: rgba(224, 176, 255, var(--underline-opacity));
  --color-link-hover: #df6400;
  --color-link-hover-dark: #f8ff83;
  --color-link-hover-underscore: rgba(223, 100, 0, var(--underline-opacity));
  --color-link-hover-underscore-dark: rgba(248, 255, 131 var(--underline-opacity));

  --color-neutral-muted: rgba(175, 184, 193, 0.2);
  --color-neutral-muted-dark: rgba(110, 118, 129, 0.4);

  --border-radius: 10px;

  --padding: 10px;
  --padding-small: 20px;
  --padding-micro: 20px;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 26px;
  background: var(--color-background);
  color: var(--color-text);
  padding: 20px;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 10px;
  color: var(--color-header);
}

p {
  margin: 10px 0 0 0;
}

a {
  transition-property: color, border;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
  text-decoration: none;
  color: var(--color-link);
  border-bottom: 1px solid var(--color-link-underscore);
}
a:visited {
  color: var(--color-link-visited);
  border-bottom: 1px solid var(--color-link-visited-underscore);
}
a:hover {
  color: var(--color-link-hover);
  border-color: var(--color-link-hover-underscore);
}

.blog-title h1 {
  font-size: 18px;
  line-height: 26px;
  display: inline-block;
  margin: 0;
}

.photos {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

.photos .container {
  align-self: center;
}

.photos .photo {
  display: block;
  max-width: 152px; /* 140 + 6px border */
  max-height: 152px;
  margin: 0;
  padding: 0;
  border: 6px solid var(--color-background-higher);
  background: var(--color-background-higher);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative; /* for :before element with blurhash image */
}

.photos .photo.lazy {
  background: var(--color-background-higher) !important;
}

.photos .photo::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background-blurhash); /* set by JS per element */
  opacity: 0;
  transition: opacity 0.33s ease-out;
}

.photos .photo.lazy::before {
  opacity: 1;
}

.photos a:focus {
  outline: 2px solid var(--color-link);
  border-radius: 1px;
}

#viewer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 100%) 1fr;
  grid-template-rows: auto 1fr;
  gap: 4px; /* to account for :focus outline */
  background: var(--color-background-higher);
}

#viewer .photo {
  position: relative;
  grid-column: 2;
  grid-row: 1 / span 2;
  align-self: center;
  text-align: center;
  height: 100%;
}

#viewer #image {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  max-width: 100%;
  max-height: calc(100% - 40px);
}

#viewer .prev {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  text-align: center;
  width: 70px;
  
}

#viewer .next {
  grid-column: 3;
  grid-row: 2;
  align-self: center;
  text-align: center;
  width: 70px;
}

#viewer .close {
  grid-column: 3;
  grid-row: 1;
  align-self: center;
  text-align: center;
}

#viewer .prev a,
#viewer .next a,
#viewer .close {
  padding: 20px;
  border: none;
  width: 100%;
  background: var(--color-background);
  font-size: 20pt;
  text-decoration: none;
}

#viewer .prev a:hover,
#viewer .next a:hover,
#viewer .close:hover {
  background: var(--color-neutral-muted);
}

#viewer .prev a,
#viewer .next a {
  margin-top: -50%;
}

#viewer .prev a {
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

#viewer .next a {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}

#viewer .close {
  border-radius: 100%;
  margin-top: 0.3rem;
  aspect-ratio: 1/1;
  line-height: 100%;
  color: var(--color-text);
}

#viewer .prev a:focus,
#viewer .next a:focus,
#viewer .close:focus {
  outline: 2px solid var(--color-link);
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--color-background-dark);
    color: var(--color-text-dark);
  }

  h1 {
    color: var(--color-header-dark);
  }

  a {
    color: var(--color-link-dark);
    border-color: var(--color-link-underscore-dark);
  }
  a:visited {
    color: var(--color-link-visited-dark);
    border-color: var(--color-link-visited-underscore-dark);
  }
  a:hover {
    color: var(--color-link-hover-dark);
    border-color: var(--color-link-hover-underscore-dark);
  }

  .photos .photo {
    border: 6px solid var(--color-background-higher-dark);
  }

  .photos .photo.lazy {
    background: var(--color-background-higher-dark) !important;
  }

  #viewer {
    background: #000000;
  }

  #viewer .prev a,
  #viewer .next a,
  #viewer .close {
    background: var(--color-background-dark);
  }

  #viewer .prev a:hover,
  #viewer .next a:hover,
  #viewer .close:hover {
    background: var(--color-neutral-muted-dark);
  }

  #viewer .close {
    color: var(--color-text-dark);
  }
}
