@charset "UTF-8";

:root {
  color-scheme: light dark; /* opt into the user's color scheme preferences */

  --underline-opacity: 0.25;

  --color-text: #222222;
  --color-text-dark: rgb(201, 209, 217);
  --color-background: #f6f6f4;
  --color-background-dark: #181a1b;
  --color-background-higher: #fff;
  --color-background-higher-dark: #2F3132;
  --color-header: #000000;
  --color-header-dark: #ddd;
  --color-link: #0969da;
  --color-link-dark: #6bf;
  --color-link-underscore: rgba(9, 105, 218, var(--underline-opacity));
  --color-link-underscore-dark: rgba(102, 187, 255, var(--underline-opacity));
  --color-link-visited: #551a8b;
  --color-link-visited-underscore: rgba(85, 26, 139, var(--underline-opacity));
  --color-link-visited-dark: #e0b0ff;
  --color-link-visited-underscore-dark: rgba(224, 176, 255, var(--underline-opacity));
  --color-link-hover: #df6400;
  --color-link-hover-dark: #f8ff83;
  --color-link-hover-underscore: rgba(223, 100, 0, var(--underline-opacity));
  --color-link-hover-underscore-dark: rgba(248, 255, 131 var(--underline-opacity));

  --color-neutral-muted: rgba(175, 184, 193, 0.2);
  --color-neutral-muted-dark: rgba(110, 118, 129, 0.4);

  --border-radius: 0.66em;

  --padding: 10px;
  --padding-small: 20px;
  --padding-micro: 20px;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 18px;
  line-height: 26px;
  background: var(--color-background);
  color: var(--color-text);
  padding-bottom: 20px;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  color: var(--color-header);
}

p {
  margin: 10px 0 0 0;
}

a {
  transition-property: color, border;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
  text-decoration: none;
  color: var(--color-link);
  border-bottom: 1px solid var(--color-link-underscore);
}
a:visited {
  color: var(--color-link-visited);
  border-bottom: 1px solid var(--color-link-visited-underscore);
}
a:hover {
  color: var(--color-link-hover);
  border-color: var(--color-link-hover-underscore);
}

a.github,
a[href^="https://github.com"]
{
  background: url(./img/GitHub-Mark-32px.png) center left no-repeat;
  background-size: 16px 16px;
  padding-left: 20px;
}

a > code,
p > code,
h1 > code,
li > code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: var(--color-neutral-muted);
  border-radius: var(--border-radius);
}

h2 {
  font-size: inherit;
  font-weight: 600;
  margin-top: 10px;
}

ul {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

ul.list-projects {
  margin: 10px 0 0 0;
  list-style: inside;
}

li + li {
  margin-top: 10px;
}

article p {
  line-height: 1.3rem;
}

.flag {
  position: relative;
  width: 100%;
  padding: 35px 0 0;
}

.header-content {
  display: grid;
  grid-template-columns: 1fr min(60ch, calc(100% - 40px)) 1fr;
  align-items: center;
}

.header-content .logo {
  grid-column: 1;
}

.header-content .blog-title {
  grid-column: 2;
}

.header-content h1,
.header-content #name {
  margin: 0;
  font-weight: bold;
  font-size: inherit;
  line-height: inherit;
}

.header-content h1 {
  display: inline;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 12px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.2);
}

kbd.capslock {
  padding-left: 0.5rem;
}

kbd.capslock:before {
  display: block;
  background: green;
  width: 6px;
  height: 6px;
}

.user-picture-image {
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.66rem;
  background-image: url('./apple-touch-icon.png');
  background-size: cover;
}

.languages {
  float: right;
  margin-right: -0.66rem;
}

.lang {
  padding: 0.33rem 0.66rem;
  margin-top: -0.33rem;
  background: rgba(0, 0, 0, 0.05);
  border-radius: var(--border-radius);
  text-transform: uppercase;
  font-size: 75%;
  border: none;
}

.languages span {
  font-weight: bold;
  cursor: default;
}

.blog-title {
  font-size: 18px;
  font-weight: bold;
  flex-grow: 10;
}

.blog-title .sep {
  font-weight: normal;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr min(60ch, calc(100% - 40px)) 1fr;
  grid-column-gap: 20px;
}

.wrapper > * {
  grid-column: 2;
}

.content {
  margin-bottom: 40px;
}

.navigation {
  padding: 1em 0;
}

.navigation::after {
  content: "";
  clear: both;
  display: table;
}

.navigation li {
  display: inline;
  margin: 0;
  float: left;
}

.navigation li + li:before {
  content: "/";
  padding: 0 0.33em;
  color: gray;
}

.hero {
  margin-top: 0.66rem;
}

.hero::after {
  content: "";
  clear: both;
  display: table;
}

.hero .icon {
  float: left;
  margin-right: 1rem;
}

.message {
  position: relative;
  display: inline-block;
  padding: 0.6rem 1rem;
  margin: 0 -1rem 0 -1rem;
  background: var(--color-background-higher);
  border-radius: 16px;
}

.message::after {
  content: "";
  width: 20px;
  height: 15px;
  position: absolute;
  top: -6.5px;
  left: -4px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAyMCAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgMEM1LjkwOTA5IDUuNSA5Ljg2MDYzIDYuNjQ1NjYgMjAgNi42MjA2OVYxNUg3LjU0MDk4QzEuNjgwNzYgMTAuOTE5NyAwLjE4NTgzMiA3LjU0MDAyIDAgMFoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=');
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  margin-top: 1rem;
}

.project {
  display: block;
  border: 1px solid var(--color-link-underscore);
  border-radius: var(--border-radius);
  background: var(--color-background-higher);
  overflow: hidden;
  transition: .2s;
}

.project:visited {
  border-color: var(--color-link-underscore);
}

.project:hover {
  border-color: var(--color-link-hover);
  box-shadow: 0 0 0 1px var(--color-link-hover);
  transform: scale(1.02);
  transition-timing-function: ease-in-out;
}

.project + .project {
  margin-top: 1rem;
}

.project h3 {
  font-weight: 500;
}

.project div {
  color: var(--color-text);
}

.project img {
  width: 100%;
  border-bottom: 1px solid var(--color-link-underscore);
}

.project .icons {
  float: right;
  display: flex;
}

.project [class^="icon-"] {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('./img/icons.png') no-repeat;
  background-size: 110px;
}

.project [class^="icon-"] + [class^="icon-"] {
  margin-left: 5px;
}

.project .icon-vuejs {
  background-position-x: 0px;
}
.project .icon-swift {
  background-position-x: -24px;
}
.project .icon-go {
  width: 38px;
  background-position-x: -48px;
}

.project .icon-js {
  background-position-x: -86px;
}

.project .description {
  padding: 0.5rem 1rem 1rem;
}

.project .description h2 {
  font-size: inherit;
}

#transiter {
  grid-column: 1 / 3;
}

.prevnext {
  padding: 1em 0;
}

.prevnext li {
  display: inline;
  margin: 0;
  float: left;
}

.prevnext li + li:before {
  content: "•";
  padding: 0 0.33em;
  color: gray;
}

.prevnext a {
  text-decoration: none;
}

.prevnext a span {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--color-background-dark);
    color: var(--color-text-dark);
  }

  h1 {
    color: var(--color-header-dark);
  }

  a {
    color: var(--color-link-dark);
    border-color: var(--color-link-underscore-dark);
  }
  a:visited {
    color: var(--color-link-visited-dark);
    border-color: var(--color-link-visited-underscore-dark);
  }
  a:hover {
    color: var(--color-link-hover-dark);
    border-color: var(--color-link-hover-underscore-dark);
  }
  a.github,
  a[href^="https://github.com"] {
    background: url(./img/GitHub-Mark-Light-32px.png) center left no-repeat;
    background-size: 16px 16px;
  }

  .lang {
    background: rgba(255, 255, 255, 0.05);
  }

  kbd {
    color: #fafbfc;
    background-color: #444d56;
    box-shadow: 0 1px 0 rgba(0,0,0,0.75), inset 0 0 3px rgba(255,255,255,0.1),
      0 1px 3px rgba(255,255,255,0.1);
  }

  a > code,
  p > code,
  h1 > code,
  li > code {
    background-color: var(--color-neutral-muted-dark);
  }

  .user-picture-image {
    background-image: url('./img/memoji_v3_dark.png');
  }

  .message::after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAyMCAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgMEM1LjkwOTA5IDUuNSA5Ljg2MDYzIDYuNjQ1NjYgMjAgNi42MjA2OVYxNUg3LjU0MDk4QzEuNjgwNzYgMTAuOTE5NyAwLjE4NTgzMiA3LjU0MDAyIDAgMFoiIGZpbGw9IiMzMDMxMzIiLz4KPC9zdmc+Cg==');
  }

  .message, .project {
    background: var(--color-background-higher-dark);
  }

  .project {
    border: 1px solid var(--color-link-underscore-dark);
  }

  .project:visited {
    border-color: var(--color-link-underscore-dark);
  }
  
  .project:hover {
    border-color: var(--color-link-hover-dark);
    box-shadow: 0 0 0 1px var(--color-link-hover-dark);
  }

  .project div {
    color: var(--color-text-dark);
  }

  .project img {
    border-bottom: 1px solid var(--color-link-underscore-dark);
  }
}

@media screen and (max-width: 815px) { /* tablet */
  .flag {
    padding: 20px 0 20px;
    margin-bottom: 0;
  }

  .message {
    margin: -10px 0 0 0;
  }

  .message::after {
    top: -8.5px;
    left: 4px;
    transform: rotate(45deg);
  }

  .header-content {
    margin-bottom: 0px;
    max-width: 100%;
  }

  .header-content .logo {
    grid-column: 2;
  }

  .user-picture-image {
    float: none;
  }

  .blog-title {
    position: relative; /* for positioning .lanugages */
  }

  .languages {
    position: absolute;
    top: -50px; /* height of avatar */
    right: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 450px) { /* mobile */
  /* all 20px paddings shrinks to 10px */
  .post a {
    word-break: break-all;
  }

  .flag {
    padding: 10px 0 10px;
  }

  .message {
    margin: 0;
  }

  .header-content,
  .wrapper {
    grid-template-columns: 1fr min(60ch, calc(100% - 20px)) 1fr;
    grid-column-gap: 10px;
  }

  .projects {
    grid-template-columns: 1fr;
  }
  #transiter {
    grid-column: 1;
  }
}

@-moz-document url-prefix() {
  /*
  Strange animation in Firefox when hover on visited link:
  when hover on link, color blinks to default and then transition to hover color;
  when move mouse away, color transition to default color and then blinks to visited color.
  */
  a,
  a.hasArrow span {
    transition: none;
    transition-property: none;
  }
}

@media (prefers-reduced-motion) {
  .project {
    transition: none;
  }
  .project:hover {
    transform: none;
  }
}
