@charset "UTF-8";

:root {
  color-scheme: light dark; /* opt into the user's color scheme preferences */

  --underline-opacity: 0.25;

  --color-text: #222222;
  --color-text-dark: rgb(201, 209, 217);
  --color-background: #f0f3f6;
  --color-background-dark: #181a1b;
  --color-header: #000000;
  --color-header-dark: #ddd;
  --color-link: #0969da;
  --color-link-dark: #6BF;
  --color-link-underscore: rgba(9, 105, 218, var(--underline-opacity));
  --color-link-underscore-dark: rgba(102, 187, 255, var(--underline-opacity));
  --color-link-visited: #551A8B;
  --color-link-visited-underscore: rgba(85, 26, 139, var(--underline-opacity));
  --color-link-visited-dark: #E0B0FF;
  --color-link-visited-underscore-dark: rgba(224, 176, 255, var(--underline-opacity));
  --color-link-hover: #0969da;
  --color-link-hover-dark: #f8ff83;
  --color-link-hover-underscore: rgba(9, 105, 218, var(--underline-opacity));
  --color-link-hover-underscore-dark: rgba(248, 255, 131, var(--underline-opacity));

  --color-neutral-muted: rgba(175, 184, 193, 0.2);
  --color-neutral-muted-dark: rgba(110, 118, 129, 0.4);

  --border-radius: 0.66em;

  --padding: 10px;
  --padding-small: 20px;
  --padding-micro: 20px;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 18px;
  line-height: 26px;
  background: var(--color-background);
  color: var(--color-text);
  padding-bottom: 20px;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  color: var(--color-header);
}

p {
  margin: 10px 0 0 0;
}

a {
  transition-property: color, border;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
  text-decoration: none;
  color: var(--color-link);
  border-bottom: 1px solid var(--color-link-underscore);
}
a:visited {
  color: var(--color-link-visited);
  border-bottom: 1px solid var(--color-link-visited-underscore);
}
a:hover {
  color: var(--color-link-hover);
  border-color: var(--color-link-hover-underscore);
}

a.hasArrow,
a.hasArrow:visited,
a.hasArrow:hover {
  border: none;
}
a.hasArrow span {
  transition-property: border;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
  border-bottom: 1px solid var(--color-link-underscore);
}
a.hasArrow:visited span {
  border-bottom: 1px solid var(--color-link-visited-underscore);
}
a.hasArrow:hover span {
  border-color: var(--color-link-hover-underscore);
}

a.github,
a[href^="https://github.com"] {
  background: url(./GitHub-Mark-32px.png) center left no-repeat;
  background-size: 16px 16px;
  padding-left: 20px;
}

.feed-icon {
  position: relative;
  border: none;
}

.feed-icon img {
  position: absolute;
  height: 16px;
  bottom: 1px;
  left: 0.33rem;
}

a > code,
p > code,
h1 > code,
li > code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: var(--color-neutral-muted);
  border-radius: var(--border-radius);
}

.dotted {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.75);
}

.flag {
  position: relative;
  width: 100%;
  padding: 35px 0 0;
  margin-bottom: 20px;
}

.header-content {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
  grid-template-columns: 1fr min(60ch, calc(100% - 40px)) 1fr;
  align-items: center;
}

.header-content .logo {
  grid-column: 1;
}

.header-content .blog-title {
  grid-column: 2;
}

.header-content h1, .header-content #name {
  margin: 0;
  font-weight: bold;
  font-size: inherit;
  line-height: inherit;
}

.logo {
  text-align: right;
}

.user-picture-image {
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.66rem;
  background-image: url('./memoji_v3.png');
  background-size: cover;
}

.languages {
  float: right;
  margin-right: -0.66rem;
}

.lang {
  padding: 0.33rem 0.66rem;
  margin-top: -0.33rem;
  background: rgba(0, 0, 0, 0.05);
  border-radius: var(--border-radius);
  text-transform: uppercase;
  font-size: 75%;
  border: none;
}

.languages span {
  font-weight: bold;
  cursor: default;
}

.blog-title {
  font-size: 16px;
  font-weight: bold;
  flex-grow: 10;
}

.blog-title .sep {
  font-weight: normal;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr min(60ch, calc(100% - 40px)) 1fr;
  grid-column-gap: 20px;
}

.wrapper > * {
  grid-column: 2;
}

.content {
  margin-bottom: 20px;
}

.content video,
.content img {
  max-width: 100%;
}

.content img {
  object-fit: contain;
}

.content .tags {
  margin-top: 20px;
}

.content .tags .tag {
  margin-right: 10px;
}

/*#search {
  display: block;
  padding: 0.33rem 0.66rem;
  margin: 0 -0.66rem 20px;
  font-size: 18px;
  box-sizing: border-box;
  background: white;
  border: 1px solid #ccc;
  border-radius: 100px;
  box-shadow: inset 0 2px 2px rgba(0,0,0,0.05);
}
#search:focus {
  border-color: var(--color-link);
  box-shadow: inset 0 2px 2px var(--color-link-underscore);
}*/

iframe {
  margin-top: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(175, 184, 193, 0.2);
  border-radius: 4px;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
}

.tag {
  border: none;
}
.tag:visited { /* for some reasons :visited #hash-only links don't work well on mobile */
  color: var(--color-link);
  border-bottom: 1px solid var(--color-link-underscore);
}

#selectedTag {
  display: none;
  opacity: 0.65;
}

#clearTag {
  display: inline-block;
  border: none;
}

#heatmap {
  margin-top: 20px;
}

.postCard {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.postCard .titleAndTags {
  flex-grow: 1;
}

.postCard .image {
  width: 70px;
}

.postCard .image {
  margin-right: 10px;
  text-align: center;
  flex-shrink: 0;
}

.postCard .image a {
  border: none;
}

.postCard .image img, .imagePromo img {
  max-width: 70px;
  max-height: 70px;
  object-fit: contain;
  object-position: center;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1);
}

.postCard .image img {
  vertical-align: middle;
}

.postCard .date, .post .date {
  font-family: monospace;
  opacity: 0.25;
  word-break: keep-all;
  padding-left: 10px;
}

.post .date {
  float: right;
  line-height: 40px;
}

.postCard .titleAndTags a {
  margin-right: 10px;
  word-break: normal;
}

.postCard .tag {
  word-break: normal;
  opacity: 0.5;
}

.info {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

video {
  margin-top: 10px;
}

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 30px;
}
ul li + li {
  margin-top: 10px;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 12px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2), inset 0 0 3px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.2);
}

.darkBackground {
  padding: 10px 0 6px;
  background-color: rgba(0,0,0,0.05);
  box-shadow: inset 0 0 20px rgba(0,0,0,0.1);
  border-top: 1px solid rgba(255,255,255,0.6);
  border-bottom: 1px solid rgba(255,255,255,0.6);
}

.next {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.prevLink,
.nextLink {
  display: inline-block;
  border: none;
}

.next .nextLinkContainer {
  flex-grow: 1;
  text-align: right;
}

.nextLink {
  text-align: right;
}

.hasArrow {
  position: relative;
}

.prevLink .hasArrow::before,
.nextLink .hasArrow::after {
  display: block;
  position: absolute;
  top: -2px;
  color: var(--color-link);
  transition-property: color;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
}

.prevLink .hasArrow::before {
  left: -20px;
  content: "←";
}

.prevLink:visited .hasArrow::before,
.nextLink:visited .hasArrow::after {
  color: var(--color-link-visited);
}

.prevLink:hover .hasArrow::before,
.nextLink:hover .hasArrow::after {
  color: var(--color-link-hover);
}

.nextLink .hasArrow::after {
  right: -20px;
  content: "→";
}

.shortcut {
  color: #999;
}

.comments {
  padding-top: 20px;
}

#remark42 {
  margin: -6px; /* compensate iframe body padding: 6px; */
}

#remark42 iframe {
  margin: 0 !important; /* override default margin: -6px; */
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--color-background-dark);
    color: var(--color-text-dark);
  }

  h1 {
    color: var(--color-header-dark);
  }

  a {
    color: var(--color-link-dark);
    border-bottom: 1px solid var(--color-link-underscore-dark);
  }
  a:visited {
    color: var(--color-link-visited-dark);
    border-color: var(--color-link-visited-underscore-dark);
  }
  a:hover {
    color: var(--color-link-hover-dark);
    border-color: var(--color-link-hover-underscore-dark);
  }
  a .hasArrow {
    border-color: var(--color-link-underscore-dark);
  }
  a:visited .hasArrow {
    border-color: var(--color-link-visited-underscore-dark);
  }
  a:hover .hasArrow {
    border-color: var(--color-link-hover-underscore-dark);
  }

  a.github,
  a[href^="https://github.com"] {
    background: url(./GitHub-Mark-Light-32px.png) center left no-repeat;
    background-size: 16px 16px;
  }

  .lang {
    background: rgba(255, 255, 255, 0.05);
  }

  .dotted {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.75);
  }

  kbd {
    color: #fafbfc;
    background-color: #444d56;
    box-shadow: 0 1px 0 rgba(0,0,0,0.75), inset 0 0 3px rgba(255,255,255,0.1), 0 1px 3px rgba(255,255,255,0.1);
  }

  a > code,
  p > code,
  h1 > code,
  li > code {
    background-color: var(--color-neutral-muted-dark);
  }

  .tag:visited { /* for some reasons :visited #hash-only links don't work well on mobile */
    color: var(--color-link-dark);
    border-bottom: 1px solid var(--color-link-underscore-dark);
  }

  .postCard .image img, .imagePromo img {
    border: 1px solid rgba(255,255,255,0.2);
  }

  .user-picture-image {
    background-image: url('./memoji_v3_dark.png');
  }

  iframe {
    border-color: rgba(110, 118, 129, 0.4);
  }

  .darkBackground {
    background-color: rgba(0,0,0,0.2);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255,255,255,0.05);
    border-bottom: 1px solid rgba(255,255,255,0.05);
  }

  .prevLink .hasArrow::before,
  .nextLink .hasArrow::after {
    color: var(--color-link-dark);
  }
  .prevLink:visited .hasArrow::before,
  .nextLink:visited .hasArrow::after {
    color: var(--color-link-visited-dark);
  }
  .prevLink:hover .hasArrow::before,
  .nextLink:hover .hasArrow::after {
    color: var(--color-link-hover-dark);
  }
  .prevLink .hasArrow::before {
    padding-right: 8px;
  }
  .nextLink .hasArrow::after {
    padding-left: 8px;
  }
}

@media screen and (max-width: 815px) { /* tablet */
  .flag {
    padding: 20px 0 20px;
    margin-bottom: 0;
  }

  .header-content {
    margin-bottom: 0px;
    max-width: 100%;
  }

  .header-content .logo {
    grid-column: 2;
    text-align: left;
  }

  .user-picture-image {
    float: none;
  }

  .languages {
    margin-right: 0;
  }

  .info .genblog {
    display: none;
  }

  .prevLink .hasArrow::before,
  .nextLink .hasArrow::after {
    display: none;;
  }

  .shortcut {
    display: none;
  }

  .comments {
    padding-top: 10px;
  }
}

@media screen and (max-width: 450px) { /* mobile */
  .content {
    margin-bottom: 10px;
  }
  /* all 20px paddings shrinks to 10px */
  .content a {
    word-break: break-all;
  }
  .flag {
    padding: 10px 0 10px;
  }
  .header-content,
  .wrapper {
    grid-template-columns: 1fr min(60ch, calc(100% - 20px)) 1fr;
    grid-column-gap: 10px;
  }

  .content video,
  .content img {
    margin-left: -10px;
    margin-right: -10px;
    max-width: calc(100% + 20px);
  }

  /*#search {
    margin-left: 0;
    margin-right: 0;
  }*/

  .postCard {
    margin-top: 10px;
  }

  .prevLink,
  .nextLink {
    padding: 0;
  }
  .prevLink .hasArrow::before,
  .nextLink .hasArrow::after {
    display: none;
  }
}

@-moz-document url-prefix() {
  /*
  Strange animation in Firefox when hover on visited link:
  when hover on link, color blinks to default and then transition to hover color;
  when move mouse away, color transition to default color and then blinks to visited color.
  */
  a,
  a.hasArrow span {
    transition: none;
    transition-property: none;
  }
}