@charset "UTF-8";

:root {
  --color-text: #222222;
  --color-text-dark: #909090;
  --color-background: #f9f9f9;
  --color-background-dark: #181a1b;
  --color-header: #000000;
  --color-header-dark: #ffffff;
  --color-link: #006699;
  --color-link-dark: #6BF;
  --color-link-underscore: rgba(0, 112, 243, 0.75);
  --color-link-underscore-dark: rgba(102, 187, 255, 0.75);
  --color-link-visited: #551A8B;
  --color-link-visited-underscore: rgba(85, 26, 139, 0.75);
  --color-link-visited-dark: #E0B0FF;
  --color-link-visited-underscore-dark: rgba(224, 176, 255, 0.75);
  --color-link-hover: #6666ff;
  --color-link-hover-dark: #f8ff83;
  --color-link-hover-underscore: rgba(0, 112, 243, 1);
  --color-link-hover-underscore-dark: rgba(248, 255, 131, 0.75);

  --padding: 10px;
  --padding-small: 20px;
  --padding-micro: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background: var(--color-background);
  color: var(--color-text);
  padding-bottom: 20px;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  color: var(--color-header);
}

p {
  margin: 10px 0 0 0;
}

a {
  transition-property: color, border;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
  text-decoration: none;
  color: var(--color-link);
  border-bottom: 1px solid var(--color-link-underscore);
}
a:visited {
  color: var(--color-link-visited);
  border-bottom: 1px solid var(--color-link-visited-underscore);
}
a:hover {
  color: var(--color-link-hover);
  border-color: var(--color-link-hover-underscore);
}

a.hasArrow,
a.hasArrow:visited,
a.hasArrow:hover {
  border: none;
}
a.hasArrow span {
  transition-property: border;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
  border-bottom: 1px solid var(--color-link-underscore);
}
a.hasArrow:visited span {
  border-bottom: 1px solid var(--color-link-visited-underscore);
}
a.hasArrow:hover span {
  border-color: var(--color-link-hover-underscore);
}

.flag {
  position: relative;
  width: 100%;
  padding: 48px 0 30px;
}

.header-content {
  position: relative;
  display: flex;
  align-items: center;
}

.header-content h1, .header-content #name {
  margin: 0;
  font-weight: bold;
  font-size: inherit;
  line-height: inherit;
}

.logo {
  display: block;
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
}

.user-picture-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.languages [class^="lang-"] {
  padding: 0.33rem 0.66rem;
  margin-top: -0.33rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 75%;
  border: none;
}

.languages span {
  font-weight: bold;
  cursor: default;
}

.blog-title {
  font-size: 16px;
  font-weight: bold;
  flex-grow: 10;
}

.content, .footer, .next, .header-content, .comments {
  margin: 0 9%;
  width: calc(100% - 9% - 9%);
  max-width: 720px;
}

.content {
  margin-bottom: 40px;
}

.content video,
.content img {
  max-width: 100%;
}

.content img {
  object-fit: contain;
}

.date {
  font-family: 'Courier New', Courier, monospace;
  font-size: 75%;
}

video {
  margin-top: 10px;
}

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 30px;
}
ul li + li {
  margin-top: 10px;
}

.nextBackground {
  padding: 10px 0;
  background-color: rgba(0,0,0,0.05);
}

.next {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.next .prevLink,
.next .dot,
.next .nextLink {
  padding: 10px;
  position: relative;
}

.next .dot {
  display: inline-block;
}
.next .nextLink {
  text-align: left;
  margin-right: 20px;
}
.next a:first-child {
  margin-left: -10px;
}
.next .prevLink::before {
  padding-right: 8px;
}
.next .nextLink::after {
  padding-left: 8px;
}

.next .prevLink::before {
  display: block;
  position: absolute;
  left: -12px;
  content: "←";
}

.next .nextLink {
  text-align: right;
  margin-right: -10px;
}
.next .nextLink::after {
  display: block;
  position: absolute;
  top: 10px;
  right: -12px;
  content: "→";
}

.comments {
  padding-top: 20px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--color-background-dark);
    color: var(--color-text-dark);
  }

  h1 {
    color: var(--color-header-dark);
  }

  a {
    color: var(--color-link-dark);
    border-bottom: 1px solid var(--color-link-underscore-dark);
  }
  a:visited {
    color: var(--color-link-visited-dark);
    border-color: var(--color-link-visited-underscore-dark);
  }
  a:hover {
    color: var(--color-link-hover-dark);
    border-color: var(--color-link-hover-underscore-dark);
  }
  a.hasArrow span {
    border-color: var(--color-link-underscore-dark);
  }
  a.hasArrow:visited span {
    border-color: var(--color-link-visited-underscore-dark);
  }
  a.hasArrow:hover span {
    border-color: var(--color-link-hover-underscore-dark);
  }

  kbd {
    color: #fafbfc;
    background-color: #444d56;
    border: solid 1px #353E46;
    border-bottom-color: #272F37;
    box-shadow: inset 0 -1px 0 #272F37;
  }

  .nextBackground {
    background:rgba(255, 255, 255, 0.05);
  }
}

@media screen and (max-width: 815px) {
  .flag {
    padding: 20px 0 20px;
  }
  .logo {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    margin: 0 10px 0 0;
  }
  .content, .footer, .next, .header-content, .comments {
    margin: 0 20px 40px 20px;
    width: calc(100% - 40px);
  }
  .header-content {
    max-width: calc(100% - 40px);
    margin-bottom: 0px;
  }

  .nextBackground {
    padding: 10px 0;
  }
  .next {
    margin: 0 10px;
  }
  .next a:first-child {
    margin-left: initial;
  }
  .next .prevLink:first-child {
    margin-left: 20px;
  }
  .next .prevLink {
    margin-left: 20px;
  }
  .next .nextLink {
    margin-right: 20px;
  }
  .next .prevLink::before {
    padding-right: 10px;
  }
  .next .nextLink::after {
    padding-left: 10px;
  }

  .comments {
    padding-top: 10px;
  }
}

@media screen and (max-width: 450px) {
  a {
    word-break: break-all;
  }
  .flag {
    padding: 10px 0 10px;
  }
  .content, .footer, .next, .header-content, .comments {
    margin: 0 10px 20px 10px;
    width: calc(100% - 20px);
  }
  .header-content {
    max-width: calc(100% - 20px);
    margin-bottom: 0px;
  }

  .content video,
  .content img {
    margin-left: -10px;
    margin-right: -10px;
    max-width: calc(100% + 20px);
  }

  .next {
    margin: 0;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .next .dot {
    display: none;
  }
}

@-moz-document url-prefix() {
  /*
  Strange animation in Firefox when hover on visited link:
  when hover on link, color blinks to default and then transition to hover color;
  when move mouse away, color transition to default color and then blinks to visited color.
  */
  a,
  a.hasArrow span {
    transition: none;
    transition-property: none;
  }
}