{{ define "_header" }}
{{ $name := "Konstantin Chukhlomin" }}
{{ $blog := "Microblog" }}
{{ $langGetParameter := "" }}
{{ if eq .CurrentPage.Metadata.Language "ru" }}
    {{ $name = "Константин Чухломин" }}
    {{ $blog = "Микроблог" }}
    {{ $langGetParameter = "?lang=ru" }}
{{ end }}
{{ $root := back .CurrentPage.Path }}
{{ if eq .CurrentPage.Path "404.html" }}
    {{ $root = "/blog/" }}
{{ end }}
<div class="flag">
    <div class="header-content">
        <div class="logo"><img src="{{ $root }}apple-touch-icon.png" class="user-picture-image" alt=""></div>
        <div class="blog-title">
            <a class="name" href="https://chuhlomin.com{{ $langGetParameter }}">{{ $name }}</a>
            <span class="sep">/</span>
            {{ if eq .CurrentPage.ID "index.html" }}<span>{{ $blog }}</span>{{ else }}<a href="{{ $root }}index.html{{ $langGetParameter }}">{{ $blog }}</a>{{ end }}
        </div>

        {{ $langs := allLanguageVariations . }}
        {{ $length := len $langs }}
        {{ if gt $length 1 }}
        <div class="languages">
            {{ range $langs }}
                {{ if ne .Metadata.Language $.CurrentPage.Metadata.Language }}
                    <a class="lang-{{ .Metadata.Language }}" href="{{ $root }}{{ langToGetParameter .Path }}">{{ .Metadata.Language }}</a>
                {{ end }}
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
