{{ define "_header" }}
{{ $langGetParameter := "" }}
{{ if eq .CurrentPage.Metadata.Language "ru" }}
    {{ $langGetParameter = "?lang=ru" }}
{{ end }}
{{ $root := back .CurrentPage.Path }}
{{ if eq .CurrentPage.Path "404.html" }}
    {{ $root = "/blog/" }}
{{ end }}
<div class="flag">
    <div class="header-content">
        <div class="logo"><div class="user-picture-image"></div></div>
        <div class="blog-title">
            <a class="name" href="https://chuhlomin.com{{ $langGetParameter }}">{{ i18n "name" .CurrentPage.Metadata.Language }}</a>&nbsp;<span class="sep">/</span>
            {{ if eq .CurrentPage.ID "index.html" }}
            <span>{{ i18n "blog" .CurrentPage.Metadata.Language }}</span>
            {{ else }}
            <a href="{{ $root }}index.html{{ $langGetParameter }}">{{ i18n "blog" .CurrentPage.Metadata.Language }}</a>
            {{ end }}

            <a href="{{ $root }}feed.atom{{ $langGetParameter }}" class="feed-icon"></a>
            <a href="{{ $root }}search.html{{ $langGetParameter }}" class="search-icon"></a>

            {{ $langs := allLanguageVariations . }}
            {{ $length := len $langs }}
            {{ if gt $length 1 }}
            <div class="languages">
                {{ range $langs }}
                    {{ if ne .Metadata.Language $.CurrentPage.Metadata.Language }}
                        <a class="lang lang-{{ .Metadata.Language }}" href="{{ $root }}{{ langToGetParameter .Path }}">{{ .Metadata.Language }}</a>
                    {{ end }}
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
