{{ define "_search" }}
{{ $langSuffix := "" }}
{{ if eq . "ru" }}{{ $langSuffix = "?lang=ru" }}{{ end }}
<script>
const createNode = (elem) => {
    return document.createElement(elem);
};

const appendNode = (parent, elem) => {
    parent.appendChild(elem);
}

const normalizeArray = (value) => {
    if (typeof value === 'string') {
        return [value];
    }
    return value;
}

function search(query) {
    const url = "{{ config "SearchURL" }}" + query;
    const options = {
        method: 'POST',
        body: JSON.stringify({
            "Canonical": true,
            "Metadata": {
                "Title": true,
                "Date": true,
                "Tags": true,
                "Images": {
                    "ThumbPath": true
                },
                "Language": true
            }
        }),
    }

    fetch(url, options)
        .then(res => res.json())
        .then(function(data) {
            if (data == null || data.length == 0) {
                document.getElementById("search_results").innerHTML = "{{ i18n "search_no_results" . }}";
                return
            }

            let results = document.getElementById("search_results");
            results.innerHTML = "";
            var counter = 0;

            for (var i = 0; i < data.length; i++) {
                let result = data[i];
                let post = result.document;

                if (post.Metadata.Language != "{{ . }}") {
                    continue;
                }
                counter++;

                let postCard = createNode("div");
                postCard.className = "postCard";

                let imageWrapper = createNode("div");
                imageWrapper.className = "image";

                let imageLink = createNode("a");
                imageLink.href = post.Canonical;

                let image = createNode("img");
                thumbs = normalizeArray(post.Metadata.Images.ThumbPath);
                image.src = thumbs[0];
                appendNode(imageLink, image);
                appendNode(imageWrapper, imageLink);
                appendNode(postCard, imageWrapper);

                let postTitle = createNode("div");
                postTitle.className = "titleAndTags";

                let link = createNode("a");
                link.href = post.Canonical;
                link.innerHTML = post.Metadata.Title;
                appendNode(postTitle, link);

                let tags = createNode("span")
                tags.className = "tags";
                tagsList = normalizeArray(post.Metadata.Tags);
                for (var j = 0; j < tagsList.length; j++) {
                    let tag = createNode("a");
                    tag.href = "index.html{{ $langSuffix }}" + "#" + tagsList[j];
                    tag.className = "tag";
                    tag.innerHTML = "#" + tagsList[j];
                    appendNode(tags, tag);
                }

                appendNode(postTitle, tags);
                appendNode(postCard, postTitle);

                let postDate = createNode("div");
                postDate.className = "date";
                postDate.innerHTML = post.Metadata.Date.substring(0, post.Metadata.Date.indexOf("T"));
                appendNode(postCard, postDate);

                /*for (var j = 0; j < result.fragments.length; j++) {
                    var fragment = result.fragments[j];
                    if (fragment.field == "Markdown") {
                        div.innerHTML += "<p>" + fragment.fragment + "</p>";
                    }
                }*/

                appendNode(results, postCard);
            }

            if (counter == 0) {
                document.getElementById("search_results").innerHTML = "{{ i18n "search_no_results" . }}";
            }
        })
        .catch(err => {
            console.error('Error: ', err);
        });
}
</script>
{{ end }}
