{{ define "header" }}
<div class="flag">
    <div class="header-content">
        <div class="logo"><img src="{{ back . }}apple-touch-icon.png" class="user-picture-image" alt=""></div>
        <div class="blog-title"><a href="https://chuhlomin.com">Konstantin Chukhlomin</a></div>
        <div class="menu-nav">
            {{ if eq . "index" }}
            Блог
            {{ else }}
            <a href="{{ back . }}index.html">Блог</a>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
