{{ define "head" }}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{{ link "favicon.ico" "" }}>
<link rel="apple-touch-icon" href="{{ link "img/memoji_v3.png" "" }}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-tomorrow.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js" defer></script>
{{ end }}
