<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Константин Чухломин</title>
<link rel="stylesheet" href="styles.css">
<link rel="icon" href="favicon.ico">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="common">
    {{ template "header" . }}
    <div class="content">
        Привет! Меня зовут Константин, я&nbsp;инженер-программист, и&nbsp;это мой&nbsp;микроблог.

        {{ range .AllPages }}
        {{ if eq .Metadata.Language "ru" }}
        <p><a href="{{ .Path }}">{{ .Metadata.Title }}</a></p>
        {{ end }}
        {{ end }}
    </div>
</div>
</body>
</html>
