<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>{{ i18n "blog" .CurrentPage.Metadata.Language }} \ {{ i18n "name" .CurrentPage.Metadata.Language }}</title>
<link rel="stylesheet" href="styles.css">
<link rel="alternate" type="application/atom+xml" href="https://local.chuhlomin.com/blog/feed.atom?lang=ru"/>
<link rel="alternate" type="application/atom+xml" title="{{ i18n "name" "en" }}" href="https://local.chuhlomin.com/blog/feed.atom"/>
{{ template "_head" . }}
</head>
<body>
<div class="common">
    {{ template "_header" . }}
    <div class="content inner">
        <h1>Все посты{{ template "_selectedTag" . }}</h1>
        <div class="posts">
            {{ range .AllPages }}
            {{ if eq .Metadata.Language "ru" }}
                {{ template "_postCard" . }}
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>
</body>
</html>
