<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Микроблог \ Константин Чухломин</title>
<link rel="stylesheet" href="styles.css">
{{ template "_head" . }}
</head>
<body>
<div class="common">
    {{ template "_header" . }}
    <div class="content inner">
        <h1>Все посты{{ template "_selectedTag" . }}</h1>
        <div class="posts">
            {{ range .AllPages }}
            {{ if eq .Metadata.Language "ru" }}
                {{ template "_postCard" . }}
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>
</body>
</html>
