<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Константин Чухломин</title>
<link rel="stylesheet" href="styles.css">
<link rel="icon" href="favicon.ico">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="common">
    {{ template "header" "index"}}
    <div class="content">
        Привет! Меня зовут Константин, я инженер-программист, и это мой микроблог.

        {{ range .AllPages }}
        <p><a href="{{ .Metadata.Filename }}">{{ .Metadata.Title }}</a></p>
        {{ end }}
    </div>
</div>
</body>
</html>
