{{ define "next" }}
<div class="nextBackground">
    <div class="next">
        {{ $next := nextPage . }}
        {{ $prev := prevPage . }}
        {{ if $prev }}
        <a class="prevLink hasArrow" href="{{ back $prev.Path }}{{ $prev.Path }}"><span>{{ $prev.Metadata.Title }}</span></a>
        {{ end }}
        {{ if and $prev $next }}<span class="dot"> • </span>{{ end }}
        {{ if $next }}
        <a class="nextLink hasArrow" href="{{ back $next.Path }}{{ $next.Path }}"><span>{{ $next.Metadata.Title }}</span></a>
        {{ end }}
        </div>
    </div>
</div>
{{ end }}
