<!doctype html>
<html lang="ru" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.0, user-scalable=yes" />
<title>{{ i18n "photos" "ru" }} \ {{ i18n "name" "ru" }}</title>
<link rel="stylesheet" href="styles.css?crc={{ crc "styles.css" }}">
</head>
<body>

<div class="flag">
    <div class="header-content">
        <div class="logo">
            <a href="/{{ link "" "ru" }}"><div class="user-picture-image"></div></a>
        </div>
        <div class="blog-title">
            <a class="name" href="/{{ link "" "ru" }}">{{ i18n "name" "ru" }}</a>
            <a href="{{ link "/blog/index.html" "ru" }}">{{ i18n "blog" "ru" }}</a>
            <span>{{ i18n "photos" "ru" }}</span>
            <div class="extra">
                <a class="lang lang-en" href="{{ link "/photos.html" "en" }}">en</a>
            </div>
        </div>
    </div>
</div>

<div class="photos" id="photos">
{{ range . }}
<div class="container"><a href="#{{ .Path }}" {{ with .Title }}title="{{ . | md | stripTags | escape }}" {{ end }}class="photo lazy" style="background: url('{{ config "PhotosDomain" }}{{ .ThumbPath }}') no-repeat center center; background-position: -{{ divide .ThumbXOffset 2 }}px -{{ divide .ThumbYOffset 2 }}px; background-size: {{ divide .ThumbTotalWidth 2 }}px {{ divide .ThumbTotalHeight 2 }}px; aspect-ratio: {{ .ThumbWidth }} / {{ .ThumbHeight }}; {{ with .BlurhashImageBase64 }}--background-blurhash: url('data:image/jpeg;base64,{{ . }}');{{ end }}" draggable="true" data-src="{{ config "PhotosDomain" }}{{ .ThumbPath }}"></a></div>
{{- end }}
</div>

{{- template "photosViewer" . }}
</body>
</html>
