<!DOCTYPE html>
<html lang="{{ .CurrentPage.Metadata.Language }}">
<head>
<meta charset="UTF-8">
<title>{{ .CurrentPage.Metadata.Title }} \ Konstantin Chukhlomin</title>
<link rel="stylesheet" href="{{ back .CurrentPage.Path }}styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="common">
    {{ template "header" . }}
    <div class="content">
        <h1>{{ .CurrentPage.Metadata.Title }}</h1>
        {{ .CurrentPage.Body }}
        <div class="created">{{ .CurrentPage.Metadata.Created }}</div>
    </div>
    {{ template "next" . }}
</div>
</body>
</html>
