<!DOCTYPE html>
<html lang="{{ .CurrentPage.Metadata.Language }}">
<head>
<meta charset="UTF-8">
<title>{{ stripTags .CurrentPage.Metadata.Title }} \ {{ i18n "blog" .CurrentPage.Metadata.Language }} \ {{ i18n "name" .CurrentPage.Metadata.Language }}</title>
<link rel="stylesheet" href="{{ back .CurrentPage.Path }}styles.css?ts={{ .Timestamp }}">
{{ template "_head" . }}
{{ if .CurrentPage.Metadata.Images }}
{{ $img := index .CurrentPage.Metadata.Images 0 }}
<meta property="og:image" content="https://chuhlomin.com/blog/{{ $img.Path }}">
{{ end }}
<meta property="og:type" content="article">
<meta property="og:url" content="https://chuhlomin.com/blog/{{ langToGetParameter .CurrentPage.Path }}">
<meta property="og:title" content="{{ stripTags .CurrentPage.Metadata.Title }} \ {{ i18n "blog" .CurrentPage.Metadata.Language }} \ {{ i18n "name" .CurrentPage.Metadata.Language }}">
<meta property="article:author" content="https://chuhlomin.com">
<meta property="article:published_time" content="{{ .CurrentPage.Metadata.Date }}">
{{ range .CurrentPage.Metadata.Tags }}
<meta property="article:tag" content="{{ . }}">
{{ end }}
</head>
<body>
<div class="common">
    {{ template "_header" . }}
    <div class="wrapper">
        <div class="content post">
            <span class="date">{{ .CurrentPage.Metadata.Date }}</span>
            <h1>{{ .CurrentPage.Metadata.Title }}</h1>
            {{ .CurrentPage.Body }}
            {{ if .CurrentPage.Metadata.Tags }}
            <div class="tags">
                {{ range .CurrentPage.Metadata.Tags }}
                <a class="tag" href="{{ back $.CurrentPage.Path }}index.html{{ langGetParameter $.CurrentPage.Path $.DefaultLanguage }}#{{ . }}">#{{ . }}</a>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
    <div class="wrapper darkBackground" hx-boost="true">
        <div>
        {{ template "_next" . }}
        </div>
    </div>
    <div class="wrapper">
        <div class="comments">
            <div id="remark42"></div>
        </div>
    </div>
</div>
{{ template "_scripts" . }}
</body>
</html>
