name: links

on:
  push:
    branches:
      - main

jobs:
  links:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Check dead links
        uses: lycheeverse/lychee-action@v1.8.0
        with:
          fail: true
          jobSummary: true
          args: >-
            --verbose
            --no-progress
            './content/**/*.md'
            './content/**/*.html'
            './content/**/*.gohtml'
            --user-agent "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Mobile Safari/537.36"
            --exclude whatismyipaddress.com
            --exclude apple.com
            --exclude twitter.com
            --exclude hhkeyboard.us
            --exclude pkg.go.dev
            --exclude www.youtube-nocookie.com
            --exclude trymeeter.com
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
