name: preview

on:
  push:
    branches:
      - preview/*

jobs:
  preview:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Extract preview name
        run: echo "PREVIEW_NAME=${GITHUB_REF#refs/heads/preview/}" >> $GITHUB_ENV

      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: cache
          key: ${{ runner.os }}-cache

      - name: Build
        env:
          ROOT_URL: https://chuhlomin.com/
          REMOVE_HTML_EXT: "1"
          COMMENTS_ENABLED: "1"
          COMMENTS_SITE_ID: "micro"
          SEARCH_ENABLED: "0"
        run:
          make build

      - name: Publish
        uses: cloudflare/wrangler-action@v3.5.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          command: pages publish output --project-name=homepage --branch=$PREVIEW_NAME --commit-dirty=true
